[Unit]
Description=Run default conf backup

[Timer]
OnBootSec=10min
RandomizedDelaySec=2hours
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
